---
import Layout from '../layouts/Layout.astro';
import { Header, Footer, Menu } from '../components/2025';
import { BlogFeed } from '../components/blog/BlogFeed';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');

const sortedPosts = allPosts.sort((a, b) => 
  b.data.date.getTime() - a.data.date.getTime()
).map(post => ({
  title: post.data.title,
  slug: post.id,
  date: post.data.date.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  }),
  author: post.data.author,
  authorImage: post.data.authorImage,
  image: post.data.image,
  excerpt: post.data.excerpt,
  categories: post.data.categories,
}));
---

<Layout title="Blog - Flamingalo">
  <a class="skip-link" href="#content">Skip to content</a>
  
  <Header />
  <Menu client:load />
  
  <main id="content" class="blog-page">
    <div class="blog-header">
      <h1 class="blog-title">Blog Flamingalo</h1>
      <p class="blog-subtitle">
        Stories, experiences and inspirations from the Burn community in Portugal 🦩🔥
      </p>
    </div>

    <BlogFeed client:load posts={sortedPosts} />
  </main>
  
  <Footer />
</Layout>


