---
import Layout from '../layouts/Layout.astro';
import { Header, Footer, Menu } from '../components/2026';
import { BlogFeed } from '../components/blog/BlogFeed';
import { LanguageSwitcher } from '../components/LanguageSwitcher';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog', ({ data }) => {
  return data.lang === 'en';
});

const sortedPosts = allPosts.sort((a, b) => 
  b.data.date.getTime() - a.data.date.getTime()
).map(post => ({
  title: post.data.title,
  slug: post.slug,
  date: post.data.date.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  }),
  author: post.data.author,
  authorImage: post.data.authorImage,
  image: post.data.image,
  excerpt: post.data.excerpt,
  categories: post.data.categories,
}));
---

<Layout title="Information and News - Flamingalo">
  <a class="skip-link" href="#content">Skip to content</a>
  
  <LanguageSwitcher client:load currentLang="en" />
  <Header client:load lang="en" />
  <Menu client:load lang="en" />
  
  <main id="content" class="blog-page">
    <div class="blog-header">
      <h1 class="blog-title">Information and News</h1>
      <p class="blog-subtitle">
        Stay updated with the latest from Flamingalo.
      </p>
    </div>

    <BlogFeed client:load posts={sortedPosts} lang="en" />
  </main>
  
  <Footer client:load lang="en" />
</Layout>


