---
import Layout from '../layouts/Layout.astro';
import { Header, Hero, InfoSection, SurvivalGuide, GetInvolved, Footer, Menu } from '../components';
---

<Layout title="Flamingalo - Burn Portugal">
  <a class="skip-link" href="#content">Skip to content</a>
  
  <Header client:load />
  <Menu client:load />
  
  <main id="content" class="site-main">
    <Hero client:load />
    <InfoSection client:load />
    <SurvivalGuide client:load />
    <GetInvolved client:load />
  </main>
  
  <Footer client:load />
</Layout>
